/.vs/
/Release/
/Debug/
/build/
/builds/
/backups/
/backup_*/
/change-artifacts/
/$artifact/
/x64/
**/bin/
**/obj/
**/x64/
**/Release/
*.exe
*.dll
*.lib
*.pdb
*.idb
*.iobj
*.ipdb
*.ilk
*.exp
*.tlog
*.obj
*.pch
*.res
*.aps
*.log
*.ini
*.enc
*.cer
*.cat
*.sys
*.recipe
*.lastbuildstate
*.lastcodeanalysissucceeded
*.cache
*.tmp
*.vcxproj.user
unlock-key-material/

# Local or unrelated source copies and inspection artifacts
/dzjstools-main/
/src/
/dzjstools.sln
/SlayerAnalyzer/
/ScreenShots.png
/pchunter1.png
/sc0.png
/sc1.png
/*帮助.png
/tools/Protect-DriverUnlockToken.ps1
